@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    synthwave;
}

/* Убираем скролл при открытом мобильном меню */
body:has(.drawer-open) {
  overflow: hidden;
}

/* Плавные переходы */
.drawer-side {
  transition: transform 0.3s ease-in-out;
}
